* {
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}
body {
	background-color: #333;
}
#container {
	background-color: #333;
	height: 94vmin;
	width: 96vw;
	text-align: center;
	margin: auto;
	margin-top: 2vmin;
	margin-bottom: 1vmin;
	border: 1vmin solid black;
	border-radius: 3vmin;
	box-shadow: inset 0 0 4vmin 2vmin black;
}
header-container {
	border-radius: 10vmin;
}
#title {
	font-weight: Montserrat;
	box-shadow: inset 0px 0px 2vmin 1.2vmin rgb(7, 7, 7);
	text-shadow: 0 0 0.8vmin rgb(255, 42, 42);
	font-weight: 700;
	text-decoration: underline;
	color: rgb(224, 0, 0);
	letter-spacing: 3vmin;
	height: 16vmin;
	font-size: 10vmin;
	line-height: 16vmin;
}
@keyframes titleFlash {
	0% {
		text-shadow: 0 0 0.8vmin rgb(255, 42, 42);
		color: rgb(224, 0, 0);
	}
	20% {
		text-shadow: 0 0 1.6vmin rgb(138, 0, 0);
		color: rgb(151, 0, 0);
	}
	100% {
		text-shadow: 0 0 0.8vmin rgb(255, 42, 42);
		color: rgb(224, 0, 0);
	}
}
#output-area {
	position: relative;
	display: flex;
	overflow: hidden;
	background-color: rgb(207, 207, 207);
	width: 94%;
	padding: 3vmin 3%;
	padding-top: 1vmin;
	height: 18vmin;
	margin-bottom: 1.5vmin;
	box-shadow: inset 0 0 2vmin 2vmin black, 0 4vmin 4vmin -1vmin black;
	line-height: 10vmin;
	font-size: 7vmin;
}
#output-area::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 0.5vmin;
	left: 0;
	top: 50%;
	background-color: black;
}
.output-word {
	margin-right: 3vmin;
}
#user-input {
	resize: none;
	border-radius: 2vmin;
	padding: 4%;
	width: 90%;
	height: 10%;
	font-size: 8vmin;
	border: none;
	box-shadow: inset 0 0 2.5vmin 1.5vmin black;
}
#user-input:focus {
	outline: none;
}
#wpm-range {
	margin: 1% 5%;
	border-radius: 5vmin;
	background-color: red;
	width: 90%;
	height: 5%;
	box-shadow: inset 0 0 2vmin 1vmin black;
}
#wpm-pointer {
	visibility: hidden;
	position: relative;
	width: 2%;
	height: 100%;
	background-color: black;
	box-shadow: inset 0 0 0.6vmin 0.1vmin rgb(170, 170, 170);
	border-radius: 5vmin;
}
#wpm-display {
	width: 6vmin;
	height: 4vmin;
	position: relative;
	top: 110%;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgb(0, 0, 0);
	box-shadow: 0 0 1vmin 0.5vmin rgb(0, 0, 0);
	color: white;
	font-weight: 600;
	text-align: center;
	font-size: 3vmin;
	border-radius: 3vmin;
}
